@media screen and (max-width: 576px) {
    
    body {
        background: url(' img/bg_phone-compressor.png ') no-repeat inherit ;
    }

    #dp_word {
        right: 20px;
        top: auto;
        bottom: 100px;
        height: 100px;
        background-color: rgb(0,0,0,0);
    }

    #dp_word  p{
        margin: 7px;
        font-size: 14px;
    }
    
    .dp_button{
        padding: 3px 10px;
        bottom: -30%;
        right:5%;
    }

    .img_wrapper{
        position: absolute;
        top: 80px;
        width: 100%;
    }
    
    .gif {
        width: 90%;
        height: 180px;
        display: block;
        margin: 0 auto;
    }
    
    footer p{
        font-size: 10px;
    }

}
