body {
    background-color: black;
    font-family: 'Noto Serif TC', serif;
    position: relative;
}


h2 {
    font-weight: bold;
    color: rgb(96, 26, 27);
    display: inline;
}

.title_pic {
    margin-left: 5%;
    width: 420px;
    height: 120px;
    opacity: 0.8;
    position: fixed;
}


#menu_walkthrough {
    margin-top: 50px;
}


#ch1{
    color: #ffffff;
    margin-left: 40%;
    padding-top: 120px;
}

#ch2{
    color: #ffffff;
    padding-top: 120px;
}

#ch3{
    color: #ffffff;
    padding-top: 120px;
}

#ch4{
    color: #ffffff;
    padding-top: 120px;
}

#me{
    color: #ffffff;
    padding-top: 120px;
}

.wt_nav{
    margin: 150px 0 0 130px;
    position: fixed;
    width: 200px;
}

.wt_nav_phone{
    display: none;
}

.walkthrough_line{
    height: 1px;
    width: 700px;
    background-color: rgba(255, 255, 255, 0.5);
}


footer {
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 0.5em;
    opacity: 0.8;
    margin-top: 30px;
}



@media screen and (max-width: 576px) {
    h2 {
        margin-top: 10px;
        font-weight: bold;
        color: rgb(96, 26, 27);
        display: inline-block;
        font-size: 22px;
    }
    
    .title_pic {
        padding-left: 5%;
        width: 300px;
        height: 100px;
        background-color: rgb(0,0,0);
        position: relative;
    }

    .wt_nav{
        display:none;
    }

    .wt_nav_phone{
        font-size: 10px;
        display:block;
        margin: 0px 10px 0 50px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: rgb(0, 0, 0);
    }

    .walkthrough_line{
        height: 1px;
        width: 300px;
        background-color: rgba(255, 255, 255, 0.5);
    } 

    #ch1{
        display: block;
        color: #ffffff;
        margin: 0px 25px 0 25px;
        font-size: 14px;
        padding-top: 50px;
    }
    
    #ch2{
        display: block;
        color: #ffffff;
        font-size: 14px;
        padding-top: 50px;
    }
    
    #ch3{
        display: block;
        color: #ffffff;
        font-size: 14px;
        padding-top: 50px;
    }
    
    #ch4{
        display: block;
        color: #ffffff;
        font-size: 14px;
        padding-top: 50px;
    }
    
    #me{
        display: block;
        color: #ffffff;
        font-size: 14px;
        padding-top: 50px;
    }

}